{% extends 'layout.html' %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/file-upload.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="about-container">
  <h2 class="title">CSV to Excel Converter</h2>
  <div class="desc-container">
    <p>CSV to Excel Converter is a simple web app for converting csv file(s) to a excel file(with xlsx format).</p>
    <div class="divider"></div>
    <div class="desc-steps-container">
      <p>Use it with following steps: </p>
      <ol class="desc-steps">
        <li>Click <b>upload</b> button in in csv file upload area, then select csv file from file selector pop up.</li>
        <li>Fill the sheet name field in csv file upload area, this name will be the excel sheet name.</li>
        <li>If you want to merge multi csv file to a single excel file, click <b>Upload More</b> button below the upload
          area
        </li>
      </ol>
    </div>
  </div>
  <div class="divider"></div>
</div>
<form method="POST" action="/" enctype="multipart/form-data">
  <div id="container" class="main-container">
    <div id="add-uploader" class="upload-more-btn">Upload More</div>
  </div>
  <div class="submit-action">
    <button type="submit" class="convert-and-download-btn">Convert And Download</button>
  </div>
</form>
{% endblock %}
